/* General styling */
body{
  background-color: red;
  font-size: larger;
}

h1{
  text-align: center;
}

img{
  width:100%;
}

button{
  height: 50px;
  width: 200px;
  margin: 15px;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  box-shadow: 5px 10px;
}



/* Classes */
.buttons{
  text-align: center;
}

.content{
  width: 75%;
}

.table{
  border: solid 3px black;
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: white;
}

.column{
  border: solid 3px black;
  width: 65%;
  display: block;
  margin: 10px;
  padding: 10px;
}

.column h2{
  text-align: center;
}

.stats{
  display: flex;
  /* visibility: hidden; */
}

.stats p, .stats h3, .stats ul{
  margin: 10px;
}

/* IDs */
#name{
  text-transform: capitalize;
}

#imageColumn{
  margin: 10px;
  width: 35%;
  background-color: white;
}

/* Style the moves ul and its children */
#moves{
  column-count: 6;
}

#moves li, #types li{
  list-style: none;
}

#charmanderBtn{
  background-color: orange;
}

#squirtleBtn{
  background-color: aqua;
}

#bulbasaurBtn{
  background-color: lightgreen;
}